body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.crear-producto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 240px;
}

.form-control {
  width: 35%;
  display: flex;
}

label {
  width: 100px;
  display: flex;
}

ul {
  width: 20%;
  margin: 15px auto;
  list-style: none;
  padding: 0;
}

li {
  width: 100%;
  margin: 5px;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  position: relative;
  /* margin-right: 15%; */
}

form {}

.compra-actual input {
  margin: 0 5px;
  border-radius: 15px;
  border: 0;
  border-bottom: 1px solid lightgray;
  padding: 3px 3px 3px 11px;
  height: 28px;
  font-size: 15px;
}

button {
  background-color: #e5e5e569;
  border: 0;
  height: 40px;
  border-radius: 15px;
  font-size: 16px;
}

.compra-actual {
  width: 70%;
  margin: auto;
}

button:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

nav li {
  /* width: 36%; */
  display: inline-flex;
  height: 50px;
  border-bottom: solid 1px;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
  padding: 0 10px;
  /* color: black; */
  /* text-decoration: none; */
}

nav a {
  text-decoration: none;
  color: black;
}

nav li:hover {
  cursor: pointer;
  background: lightgray;
}

.cargar-productos img {
  width: 500px;
}

.cargar-productos label {
  margin: 15px;
  font-weight: bolder;
  font-size: 23px;
  width: 100%;
}